/* Styles for container with two columns */
.col-2 {
  display: flex;
  align-content: center;
  align-items: center;
}

/* Styles for the icon */
.bi-signpost-2-fill {
  font-size: 3rem;
}

/* Styles for the "Create an account" header */
.col-4 h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Styles for the form */
.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
  border: 1px solid #ccc;
  box-shadow: none;
  padding: 0.5rem;
}

.form-control:focus {
  border-color: #6c757d;
  box-shadow: none;
}

/* Styles for the "Create" button */
.btn-outline-primary {
  border-radius: 0;
  border-color: #007bff;
  color: #007bff;
  font-weight: bold;
  padding: 0.5rem; 1rem;
  margin-top: 1rem;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
