<div class="body">
    <div class="avatar">
        <img src='https://www.jquery-az.com/html/images/banana.jpg'>
    </div>
    <div class="user-info">
        <h4>John Wick</h4>
        <small class="text-muted">Jardani68@gmail.by</small>
    </div>

    <div class="follow-buttons-group">
      <button class="btn btn-primary follow-button">Follow</button>
      <button class="btn btn-primary follow-button">Unfollow</button>
    </div>

    <div class="card-wrapper">
        <div class="card followers border-warning">
            <div class="card-body">
              <h6>Followers</h6>
                <!--WILL BE A SEPARATE COMPONENT LATER-->
              <div class="images">
                <app-small-user-icon></app-small-user-icon>
                <app-small-user-icon></app-small-user-icon>
                <app-small-user-icon></app-small-user-icon>
                <app-small-user-icon></app-small-user-icon>
                <app-small-user-icon></app-small-user-icon>
                <app-small-user-icon></app-small-user-icon>
                

              </div>

            </div>
          </div>

          <div class="card follows border-warning mt-2">
            <div class="card-body">
                <h6>Follows</h6>
                <div class="images">

                </div>
            </div>
          </div>
    </div>
</div>