<div class="card post-card border-warning">
    <h6>Hi, how are you?</h6>

    

    <div class="comments-container">
        <div class="input-group comment-input-group mb-3 mt-3 mb-5">
            <input type="text" class="form-control" placeholder="Say something..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-outline-success" id="basic-addon2">
                <i class="fa fa-check"></i>
            </button>
          </div>

        <app-comment></app-comment>
        <app-comment></app-comment>
    </div>
    

    <button class="btn btn-dark like-button"><i class="fa fa-moon-o"></i> | 122</button>
</div>