<div class="row">
    <div class="col-3">
      <app-user-info></app-user-info>
    </div>
    <div class="col-6 posts-area-container">
      <div class="input-group post-input-group">
        <input type="text" class="form-control" placeholder="Enter your post here..." aria-label="Recipient's username with two button addons">
        <button class="btn btn-outline-secondary" type="button">Post</button>
        <button class="btn btn-outline-secondary" type="button">Clear</button>
      </div>

      <div class="posts-area">
        <app-post></app-post> 
        <app-post></app-post>   
        <app-post></app-post>  
        
      </div>
    </div>
    <div class="col-3">
        
    </div>
  </div>
  