/* .posts-area-container {
    margin-top: 100px;
    
}

.post-input-group {
    width:80%;
    margin-left: 10%;
}

.posts-area {
    margin-top: 10%;
   
} */

.profile-wrapper {
    margin-top: 40px;
}

